<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="center-align images_title">
        <img class="responsive-img" src="http://i.imgur.com/ax0NCsK.gif" />
      </div>
      <h5 class="indigo-text center-align">Forgot Password Account</h5>
      <div class="section"></div>
      <div class="row">
        <div class="z-depth-2 grey lighten-3 col m6 offset-m3 handing_form">
          <div class="row">
            <form [formGroup]="resetPassword" (ngSubmit)="signUpBlogs()">

              <div class='input-field col m12'>
                <i class="material-icons prefix">email</i>
                <input type='text' id='email' formControlName="email" [ngClass]="{
                  'validErr' : resetPassword.get('email').errors && (resetPassword.get('email').touched || resetPassword.get('email').dirty), 'validFul' : resetPassword.get('email').errors === null }" autocomplete="off" />
                <label for='email'>Enter your email</label>
              </div>

              <button type="submit" [disabled]="!resetPassword.valid" class='col m12 btn waves-effect waves-light indigo'>
                Get Password
              </button>

            </form>
          </div>
        </div>
      </div>
      <!-- NOTE: Loading -->
      <div class="loading signup" *ngIf="loading">
        <mz-progress
          mz-progress
          [backgroundClass]="'indigo accent-1'"
          [progressClass]="'indigo accent-4'">
        </mz-progress>
      </div>
      <div class="row">
        <div class="col m12 center-align">
          <a [routerLink]="['/auth/login']" class="btn waves-effect waves-light indigo"><i class="material-icons left">arrow_back</i> Login</a>
          <a [routerLink]="['/auth/sign-up']" class="btn waves-effect waves-light indigo"><i class="material-icons right">arrow_forward</i> Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
