<div class="container">
  <div class="row">
    <div class="col m12">
      <div class="center-align images_title">
        <img class="responsive-img" src="http://i.imgur.com/ax0NCsK.gif" />
      </div>
      <h5 class="indigo-text center-align">Update Password For Account</h5>
      <div class="section"></div>
      <div class="row">
        <div class="z-depth-2 grey lighten-3 col m6 offset-m3 handing_form">
          <div class="row">
            <h4 class="blue-text text-darken-2 center-align">Welcome Back Blogs, Remy Nguyễn !</h4>
            <form [formGroup]="editPassword" (ngSubmit)="signUpBlogs()">
              <div class='input-field col m12'>
                <i class="material-icons prefix">lock_outline</i>
                <input type='password' id='password' formControlName="password" [ngClass]="{'validErr' : editPassword.get('password').errors && (editPassword.get('password').touched || editPassword.get('password').dirty),
                'validFul' : editPassword.get('password').errors === null }"
                autocomplete="off"/>
                <label for='password'>Enter your password</label>
              </div>

              <div class='input-field col m12'>
                <i class="material-icons prefix">lock_open</i>
                <input type='password' id='passwordConfirm' formControlName="passwordConfirm" [ngClass]="{
                  'validErr' : editPassword.get('passwordConfirm').errors && (editPassword.get('passwordConfirm').touched || editPassword.get('passwordConfirm').dirty), 'validFul' : editPassword.get('passwordConfirm').errors === null }" autocomplete="off" />
                <label for='passwordConfirm'>Enter your password confirm</label>
              </div>

              <div class="center-align col m12">
                <button type="submit" [disabled]="!editPassword.valid" class='btn waves-effect waves-light indigo'>
                  Update Password
                  <i class="material-icons right">done_all</i>
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
