<div class="container-flexbox">
    <div class="col1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
</div>

<div class="container-flexbox">
  <div class="col1">1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
  <div class="col2">2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
  <div class="col1">3Lorem ipsum dolor sit amet`, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
</div>


<div class="container-flexbox">
  <div class="col1">1Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
  <div class="col4">2Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste architecto hic fugit quos magni sint facilis recusandae voluptas necessitatibus, accusamus similique, nesciunt dolores id beatae, maiores ullam quam illo deserunt!</div>
</div>
