.container-flexbox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  div {
    padding: 2em;
    margin: 0.7em;
    background: #6e20e8;
  }
  .col1 {
    flex: 1;
  }
  .col2 {
    flex: 2;
  }
  .col3 {
    flex: 3;
  }
  .col4 {
    flex: 4;
  }
}
