@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "~materialize-css/sass/components/color";
$primary-color: color("indigo", "base");
$secondary-color: color("green", "accent-3");
$roboto-font-path: "~materialize-css/fonts/roboto/";
@import "~materialize-css/sass/materialize";
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(1,39,63,0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 0px rgba(255,222,222,1);
  background:#39a4ff;
  border:1px solid #ccc;
}
.app-overlay{
  width: 100%;
  height: 100vh;
  position: relative;
  display: table;
  text-align: center;
  .overlay-content{
    display: table-cell;
    vertical-align: middle;
  }
}
