<div class="container">
  <div class="row">
    <div class="col m6 offset-m3">
      <h4 class="center-align">Login</h4>
      <form #dataLogin="ngForm" (ngSubmit)="login(dataLogin)">

        <div class="input-field">
          <input type="email" id="email" [(ngModel)]="infomation.email" name="email" #email="ngModel" required email [ngClass]="!email.valid && email.touched ? 'validation' : '' " >
          <label for="email">Email</label>
          <!-- <p *ngIf="!email.valid && email.touched"
           class="errors red white-text center-align">
            Email not valid !
          </p> -->
        </div>

        <div class="input-field">
          <input type="password" id="password" [(ngModel)]="infomation.password" name="password" #password="ngModel" required autocomplete="off" [ngClass]="!password.valid && password.touched ? 'validation' : '' ">
          <label for="password">Password</label>
          <!-- <p class="errors red white-text center-align" *ngIf="!password.valid && password.touched">Please enter password !</p> -->
        </div>

        <div class="center-align">
          <button [disabled]="!dataLogin.valid" type="submit" class="btn waves-effect waves-light">
            Login
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>
    </div>
    <div class="collection">
      <a [routerLink]="['/auth/sign-up']"class="blue-grey darken-2 white-text collection-item waves-effect waves-light">
        <span class="name">Sign Up</span>
      </a>
      <hr>
      <a [routerLink]="['/auth/reset-password']"class="blue-grey darken-2 white-text collection-item waves-effect waves-light">
        <span class="name">Forgot Password</span>
      </a>
    </div>
  </div>
</div>
